@font-face {
  font-family: 'Banny-LightRound';
  src: url('../fonts/Banny-LightRound.woff') format('woff'),
    url('../fonts/Banny-LightRound.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Banny-Round';
  src: url('../fonts/Banny-Round.woff') format('woff'),
    url('../fonts/Banny-Round.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Banny-BoldRound';
  src: url('../fonts/Banny-BoldRound.woff') format('woff'),
    url('../fonts/Banny-BoldRound.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
