html {
  scroll-behavior: smooth;
}
* {
  outline: none;
  font-family: 'Open Sans', sans-serif;
  transition: 0.4s;
}
img {
  max-width: 100%;
  height: auto;
}

// ------------------------------ MEDIA
// .map,
// footer,
 //.hero {
  // display: none;
// }
// ------------------------------ MEDIA

.section {
  position: relative;
  padding: 80px 0;
  &__single-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    .section__second-title {
      max-width: 550px;
    }
  }
  &__description {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: rgba(51, 51, 51, 0.5);
    &--bold {
      font-weight: bold;
    }
  }
  &__form {
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__button {
      cursor: pointer;
      width: 100%;
      padding: 26px 0;
      background-color: $yellow;
      font-size: 12px;
      line-height: 20px;
      font-weight: 700;
      color: #fff;
      border: none;
      border-radius: 5px;
      text-transform: uppercase;
    }
    &__textarea {
      background-color: rgba(229, 229, 229, 1);
      padding: 25px 20px;
      border-radius: 5px;
      border: none;
    }
    select {
      background-color: rgba(229, 229, 229, 1);
      background-image: url(../img/select-arrow.svg);
      background-repeat: no-repeat;
      background-position: 95% center;
      padding: 10px 15px;
      border-radius: 5px;
      border: none;
      appearance: none;
    }
    input {
      background-color: rgba(229, 229, 229, 1);
      padding: 25px 20px;
      border-radius: 5px;
      border: none;
    }
    option {
      color: #664545;
    }
    select,
    input::placeholder {
      color: rgba(51, 51, 51, 0.5);
      font-size: 14px;
      line-height: 19px;
      font-weight: 400;
    }
    input,
    select {
      width: 45%;
      height: 60px;
      margin-bottom: 10px;
    }
  }
  &__title {
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__item {
      display: flex;
      flex-direction: column;
      text-align: center;
      max-width: 600px;
    }
  }
  &__first-title {
    position: relative;
    font-family: 'Banny-BoldRound', sans-serif;
    font-size: 36px;
    line-height: 48px;
    text-transform: uppercase;
    &::after {
      position: absolute;
      content: '';
      bottom: -17px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $yellow;
      border-radius: 50px;
      width: 60px;
      height: 5px;
    }
  }
  &__second-title {
    margin-top: 35px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
  }
  &__dsc {
    opacity: 0.7;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Open Sans';
  }
}

p {
  font-family: 'Banny-BoldRound', sans-serif;
}

.map {
  iframe {
    width: 100%;
  }
}
